@font-face{
    font-family: 'mario';
    src: url(font/SuperMario.ttf);
}
@font-face{
    font-family: 'sig';
    src: url(font/modernline.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 95vh; /*tamanho da tela visível*/
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)100%), url('img/background.png');
}

h1 {
    font-family: 'mario';
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
}

.memory-game {
    height: 500px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; /*Quando os elementos não couberem mais na linha, quebra pra linha de baixo*/
    perspective: 1000px; /*vai mostrar a perspectiva do usuário no eixo Z. Quanto maior esta perspectiva, maior o efeito 3D*/
}

.card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgb(1, 1, 1, .3);
    cursor: pointer;
    transform: scale(1); /*vai preservar o tamanho original*/
    transform-style: preserve-3d; /*Não deixa o elemento achatado no plano*/
    transition: transform .9s;

}

.card:active{ /*Evento de clique*/
    transform: scale(0.97); /*Altera a escala da imagem para 97%*/
    transition: transform .3s; /*A transformação acontece em 0.3 segundos*/
}

.card-front,
.card-back { /*As duas faces serão setadas com posição absoluta, uma por cima da outra, para poder fazer o efeito de carta virando*/
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #ffffff;
    backface-visibility: hidden; /*retira a visibilidade das costas do elemento, assim quando vira, não aparece espelhado do outro lado*/
}

.card-front {
    transform: rotateY(180deg); /*rotaciona a carta 180º no eixo y (vertical)*/
}

/* Animação flipCard */

.card.flip {
    transform: rotateY(180deg);
}

footer {
    clear:both; 
}

footer p{
    text-align: center;
    font-size: 10pt;
    color: #424242;
}

footer a {
    text-decoration: none;
    color: #424242;
}

footer a:hover {
    color: rgb(163, 45, 163);
    font-weight: bolder;
}

strong#sig {
    font-family: 'sig';
}